@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<!-- main-container -->
<section class="main">
    <div class="container">
        <div class="main-text">
            <h1>Не ну очень крутое название курса</h1>
            <span class="main-text">не очень крутое описание курса ну прям середняк я бы сказал что никто не читает это ну нам надо сюда обязательно что то вставить так что да............</span>
        </div>
        <div class="main-buttons">
            <a class="button-main_one" href="">Записаться на обучение</a>
            <a class="button-main_two" href="../New FrontEnd CoursesSite/about_us.html">О программе</a>
        </div>
    </div>
</section>
<!-- end-main-container -->
<!-- description-container -->
<section class="description-section">
    <div class="container">
        <div class="description-block">
            <h1>Описание курса</h1>
            <div class="description-flex">
                <div class="description-span">
                    <span>здесь будет явно какой-нибудь текст</span>
                </div>
                <div class="training">
                    <span class="training-one">9</span>
                    <span class="training__one">месяцев обучения</span>
                    <span class="training-two">100+</span>
                    <span class="training__two">обучение тактикам боя</span>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end-description-container -->
<!-- photo-section -->
<section class="photos">
    <div class="container">
        <div class="photo-text">
            <div class="photos-block">
                <div class="photos-block_one">
                    <img src="./img/Без названия.jfif" alt="">
                    <img src="./img/Без названия.jfif" alt="">
                </div>
                <div class="photos-block_two">
                    <img src="./img/Без названия.jfif" alt="">
                    <img src="./img/Без названия.jfif" alt="">
                </div>
            </div>

            <div class="photos-text">
                <span class="span-photos">не ну тут не реально крутые преподаватели и люди ну и вообще</span>
            </div>
        </div>
    </div>
</section>
<!-- end-photo-section -->

<!-- footer -->
<footer>
    <p class="footer-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Facilis ex non saepe cumque repellendus officia.</p>
</footer>
<!-- end-footer -->