@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<!-- main-container -->
<section class="main">
    <div class="container">
        <!-- <div class="advantages-or-stars">
            <h1>Преимущества программы</h1>
            <span class="star">&#10029 <span class="star-text">Текст</span></span>
            <br>
            <span class="star">&#10029 <span class="star-text">Текст</span></span>
            <br>
            <span class="star">&#10029 <span class="star-text">Текст</span></span>
            <br>
            <span class="star">&#10029 <span class="star-text">Текст</span></span>
            <br>
            <span class="star">&#10029 <span class="star-text">Текст</span></span>


            <div class="understars-text">
                <ul>
                    <li>Кол-во дней:</li>
                    <li>Кол-во часов:</li>
                    <li>Питание:</li>
                    <li>Проживание:</li>
                </ul>
            </div>
        </div> -->

        <div class="about_us">
            <h1 class="text-first">О курсе</h1>
            <div class="about-flex">
                <p class="text-flex">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus culpa tempora porro harum mollitia labore nulla esse? Quis ratione repellendus nulla voluptate nesciunt dicta impedit quod, itaque nostrum ducimus dolor reprehenderit excepturi tenetur et cumque, officia laudantium quam ad sapiente asperiores neque eius? Veniam repellat commodi repudiandae quam nemo ducimus expedita, repellendus voluptatibus necessitatibus esse laborum architecto reprehenderit cupiditate cum nam unde iusto consectetur ipsam aspernatur ad. Ipsa, id? Modi ratione nam ex totam illum, obcaecati atque aut possimus? Quisquam ab maiores vel dignissimos earum eos officiis! Voluptatibus in quisquam voluptatem quaerat! Modi sed iste voluptas omnis animi magni iure.</p>
                <img class="img1" src="../New FrontEnd CoursesSite/img/voentorg.jpg" alt="">
            </div>
        </div>
    </div>
</section>
<!-- end-main-container -->

<!-- footer -->
<footer>
    <p class="footer-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Facilis ex non saepe cumque repellendus officia.</p>
</footer>
<!-- end-footer -->