<h1>Hello admin!</h1>

@if (User.IsInRole("admin"))
{
    <H1>Админ</H1>
    <a asp-controller="Administration" asp-action="AllUsers">Просмотр всех пользователей</a>
    
    <li>
        <H2>Курсы</H2>
        <a>Просмотр всех курсов</a>
        <a>Редактирование курсов</a>
    </li>
    
    <li>
        <H2>Новости</H2>
        <a>Просмотр всех новостей</a>
        <a>Редактирование новостей</a>
    </li>

    <li>
        <h1>Сотрудники</h1>
        <a>Просмотр всех сотрудников</a>
        <a>Редактирование сотрудников</a>
    </li>
}

@if (User.IsInRole("teacher"))
{
    
}