<h1>Hello admin!</h1>

@if (User.IsInRole("admin"))
{
    <H1>Админ</H1>
    <H1><a asp-controller="Administration" asp-action="AllUsers">Просмотр всех пользователей</a></H1>
    <H1><a asp-controller="Administration" asp-action="AllCourses">Курсы</a></H1>
    <H1><a asp-controller="Administration" asp-action="AllNews">Новости</a></H1>
}