 <!-- main -->
<section class="main">
    <div class="container">
        <div class="curses_table">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col-3">Название курса</th>
                        <th scope="col">Описание курса</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row"><img src="./img/image.webp" alt=""></th>
                        <td>Описание курса</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
<!-- end-main -->