@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<!-- main-container -->
<section class="main">
    <div class="container">
        <h1 class="text-main-h1">О компании</h1>
        <p class="text-main-p">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas odit illum, dolor commodi rem sequi impedit animi dignissimos, laudantium non ad error ipsa est? Alias recusandae, deleniti, fuga, neque facilis nemo porro sunt dolore temporibus provident veritatis necessitatibus delectus velit consectetur pariatur ut dicta soluta. Soluta optio facilis at suscipit repellat voluptate omnis eaque vel dolore nam provident commodi sit pariatur nulla fugiat placeat est, adipisci amet? Sint in nobis ab incidunt, quidem dolorum ullam quasi consequatur aliquid, hic rerum. Similique aspernatur ex sapiente accusamus id autem fugit neque nihil aliquid! Optio vitae unde et, doloremque laboriosam ab maiores nam in magnam ipsam dicta. Amet ab quae laboriosam in maiores soluta incidunt. Consequuntur, voluptatem explicabo incidunt error nihil dolorum quas dignissimos similique consequatur animi ad fuga suscipit laboriosam atque quod voluptatum, laudantium corporis quasi mollitia? Vero omnis aliquid totam perspiciatis. Officiis atque earum in sed impedit ipsam eligendi molestiae culpa praesentium quod adipisci, inventore odit quia minus explicabo delectus facilis ratione soluta possimus error incidunt! Rerum, tempora? Vero incidunt harum eveniet laudantium cum nam, ducimus neque quibusdam magni consequatur? Debitis sed aliquam ipsum, commodi magnam illum ad eius velit eos totam, amet ullam delectus deserunt dolores dicta. Sapiente impedit voluptas eveniet doloremque nisi sit expedita cupiditate eaque culpa accusamus minima dolores aliquam magnam tenetur a perspiciatis, voluptatem eligendi labore id deleniti ducimus ab unde. Dicta labore eius minima asperiores doloremque, repellendus iure pariatur! Corporis, dolorum quam? Voluptatem quis quas natus. A, repellendus vero quos, eos unde ipsum, mollitia magnam quo molestias quibusdam iste alias? Mollitia sit maiores molestiae possimus architecto quod eaque praesentium sed nobis quisquam accusamus et alias quo quia id vero laudantium in, delectus beatae qui explicabo esse, asperiores nemo. Fugit asperiores, repudiandae iste maxime, sit numquam laboriosam accusantium voluptatum sunt, optio fugiat. Maxime hic dicta nam ad.</p>
    </div>
</section>
<!-- end-main-container -->

<!-- footer -->
<footer>
    <p class="footer-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Facilis ex non saepe cumque repellendus officia.</p>
</footer>
<!-- end-footer -->