<!-- main -->
<section class="main">
    <div class="container">
        <div class="row">
            <h1 class="title_main">
                О компании
            </h1>
            <span class="span_title">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur dolor temporibus, ab illum dignissimos quas molestias earum natus voluptates saepe aperiam blanditiis est dolore rem non adipisci beatae reprehenderit labore maiores laudantium porro enim! Rem, maiores error autem vel quaerat natus nisi sapiente labore distinctio. Voluptatibus ad itaque iste accusantium!
            </span>
        </div>
    </div>
</section>
<!-- end-main -->