<!-- main -->
<section class="main">
    <div class="container">
        <div class="row">
            <h1 class="title_main">
                О компании
            </h1>
            <span class="span_title">
                Основной целью создания «Каскада» являлось и является комплексная подготовка допризывной молодежи к службе в рядах Вооруженных Сил РФ и создание системы воспитания, закладывающей основы морально-волевой, психологической подготовки и всестороннего физического развития будущих воинов, привлечения юношей   в   профильные   учебные   заведения   силовых,  правоохранительных и специальных структур.
                Последние 10 лет «Каскад» структурно входит в МУ «Дружба» (директор Виталий Лебедев).
                Несколько лет назад ветераны «Каскада» юридически оформили Московскую областную региональную военно-патриотическую организацию «Каскад», (директор Григорий Головин) с целью оказания помощи организации в осуществлении ее деятельности. Набор в учебные взвода происходит в начале учебного года на добровольной основе, по желанию подростков 10-17 лет, с согласия их родителей и при отсутствии медицинских противопоказаний к занятиям. За высокие результаты в военно-патриотическом воспитании молодежи «Каскад» награжден многими знаками отличия. В 1987 году КВСК «Орленок» стал лауреатом Премии комсомола Подмосковья. В 1988 году – награжден знаком ЦК ВЛКСМ «За активную работу». В 1994 году, за многолетнюю работу по военно-профессиональной ориентации молодежи, подготовке ее к службе в воздушно-десантных войсках, «Каскад» награжден Почетным знаком и грамотой Командующего воздушно-десантными войсками. В 1997 году – Почетной грамотой администрации Московской области, Почетной грамотой Центрального Совета РОСТО. В 1999 году - награжден Кубком министра обороны РФ. В 2000 году  «Каскад» получил благодарность Полномочного представителя президента РФ в Центральном федеральном округе за многолетнюю работу по военно-патриотическому воспитанию граждан РФ, подготовку молодежи к службе в Российской армии, служению Отечеству.

            </span>
        </div>
        <div class="cooperate d-flex">
            <div class="col-12">
                <h1>Мы сотрудничаем</h1>
            </div>
            <div class="col-12">
                <table class="table">
                    <tbody>
                        <tr>
                            <td>иконки</td>
                            <td>НВП</td>
                        </tr>
                        <tr>
                            <td>иконки</td>
                            <td>ДАКС</td>
                        </tr>
                        <tr>
                            <td>иконки</td>
                            <td>Военный курс подготовки</td>
                        </tr>
                        <tr>
                            <td>иконки</td>
                            <td>Юная армия</td>
                        </tr>
                        <tr>
                            <td>иконки</td>
                            <td>Гуманитарная помощь</td>
                        </tr>
                        <tr>
                            <td><img class="solidarnost" src="../main bs 5.3.1/img/photo_2023-09-26_01-39-02.jpg" alt=""></td>
                            <td>Солидарность сердец</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <h1>Наши достижения</h1>

    </div>
</section>
<!-- end-main -->