@using courses.ViewModels;
@model RegisterViewModel

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<!-- main -->
<section class="main">
    <div class="container">
        <form asp-action="Login" class="ui-form">
            <h3>Регистрация аккаунта</h3>
            @if (TempData["Error"] != null)
            {
                <div>
                    <span><b>Извините!</b> - @TempData["Error"]</span>
                </div>
            }
            <div class="form-row">
                <input asp-for="Name" type="text" id="name" placeholder="Имя">
            </div>
            <div class="form-row">
                <input asp-for="Surname" type="text" id="surname" placeholder="Фамилия">
            </div>
            <div class="form-row">
                <input asp-for="Patronymic" type="text" id="patronymic" placeholder="Отчество">
            </div>
            <div class="form-row">
                <input asp-for="PhoneNumber" type="tel" id="phoneNumber" required autocomplete="off" placeholder="Номер телефона">
            </div>
            <div class="form-row">
                <input asp-for="EmailAddress" type="email" id="email" required autocomplete="off" placeholder="Адрес электронной почты">
            </div>
            <div class="form-row">
                <input asp-for="Password" type="password" id="password" required autocomplete="off" placeholder="Пароль">
            </div>
            <div class="form-row">
                <input asp-for="ConfirmPassword" type="password" id="confirmPassword" required autocomplete="off" placeholder="Подтверждение пароля">
            </div>
            <p>
                <input type="submit" value="Регистрация">
                <a asp-controller="Home" asp-action="Index">Домашняя</a>
            </p>
        </form>
    </div>
</section>
<!-- end-main -->