    <!-- main -->
<section class="main">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-7 col-lg-7 col-md-12 col-sm-12 col-12">
                <textarea class="textarea__reviews" id="comment" name="comment" rows="5" cols="70"></textarea>
                <button type="button" class="btn btn-outline-secondary button__reviews" id="input-group-button-left">Оставить отзыв</button>
            </div>
            <div class="row row-cols-1 row-cols-sm-2 g-3">
                <div class="col">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Имя Фамилия</h5>
                            <p class="card-text">Отзыв</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Имя Фамилия</h5>
                            <p class="card-text">Отзыв</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end-main -->