/*Медиазапросы*/
@media screen and (min-width: 767px) {
}

@media screen and (min-width: 991px) {
    .header-name {
        width: 40%;
    }
}

@media screen and (min-width: 1200px) {
    .header-name {
        width: 40%;
    }
}

@media (min-width: 1500px) {

    .all-inf-margin {
        max-width: 1480px;
    }

    .case-center {
        max-width: 1480px;
    }
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    background-image: url(../img/backgroung.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.container {
    max-width: 1320px;
    margin: auto;
}




/* header */
header {
    padding-bottom: 40px;
}

.container-header {
    display: flex;
    justify-content: space-between;
    height: 100px;
    align-items: center;
    font-family: 'Trebuchet MS', sans-serif;
    margin: auto;
}

.header-left {
    margin: 5px;
    padding: 5px;
    flex: 0 1 auto;
}

    .header-left a {
        text-decoration: none;
    }

.header-logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.span-h1 {
    color: white;
    font-size: 27px;
    margin-left: 5px;
    border: 3px solid white;
    border-radius: 30px;
    padding: 7px;
}

.header-name {
    margin: 5px;
    padding: 5px;
    flex: 0 1 auto;
}

.header-center1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 700;
}

    .header-center1 li {
        font-size: 20px;
        list-style-type: none;
    }

        .header-center1 li a {
            text-decoration: none;
            color: white;
        }

.vl {
    border-left: 2px solid rgb(255, 255, 255);
    height: 30px;
}

.header-right {
    margin: 5px;
    padding: 5px;
    flex: 0 1 auto;
}

.header-right1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.login-button {
    border: 3px solid white;
    border-radius: 12px;
    text-decoration: none;
    font-size: 20px;
    color: white;
    text-align: center;
    padding: 7px;
}

.sign-button {
    background-color: #66C05D;
    border: 5px solid #66C05D;
    ;
    border-radius: 12px;
    text-decoration: none;
    font-size: 20px;
    color: black;
    padding: 7px
}

.container-hl {
    display: flex;
    justify-content: center;
}

.hl {
    border: 1px solid rgb(255, 255, 255);
    width: 100%;
}




/* main */
.main {
    height: 800px;
}

.about-flex {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.text-first {
    font-size: 56px;
    color: white;
    height: 100px;
}

.text-flex {
    color: white;
    font-size: 30px;
    max-width: 48%;
}

.img1 {
    border: 2px solid white;
    border-radius: 10px;
}

/* .star {
    color: white;
    font-size: 70px
}

.star-text {
    font-size: 50px;
    text-decoration: underline;
}


.understars-text {
    display: flex;
    text-decoration: none;
}

.understars-text li {
    list-style-type: none;
    color: white;
} */



/* footer */
footer {
    color: white;
    text-align: center;
    font-size: 50px;
    background-color: #000000;
}
