/*Медиазапросы*/
@media screen and (min-width: 767px) {
}

@media screen and (min-width: 991px) {
    .header-name {
        width: 40%;
    }
}

@media screen and (min-width: 1200px) {
    .header-name {
        width: 40%;
    }
}

@media (min-width: 1500px) {

    .all-inf-margin {
        max-width: 1480px;
    }

    .case-center {
        max-width: 1480px;
    }
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    background-image: url(../img/backgroung.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.container {
    max-width: 1320px;
    margin: auto;
}




/* header */
header {
    padding-bottom: 40px;
}

.container-header {
    display: flex;
    justify-content: space-between;
    height: 100px;
    align-items: center;
    font-family: 'Trebuchet MS', sans-serif;
    margin: auto;
}

.header-left {
    margin: 5px;
    padding: 5px;
    flex: 0 1 auto;
}

    .header-left a {
        text-decoration: none;
    }

.header-logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.span-h1 {
    color: white;
    font-size: 27px;
    margin-left: 5px;
    border: 3px solid white;
    border-radius: 30px;
    padding: 7px;
}

.header-name {
    margin: 5px;
    padding: 5px;
    flex: 0 1 auto;
}

.header-center1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 700;
}

    .header-center1 li {
        font-size: 20px;
        list-style-type: none;
    }

        .header-center1 li a {
            text-decoration: none;
            color: white;
        }

.vl {
    border-left: 2px solid rgb(255, 255, 255);
    height: 30px;
}

.header-right {
    margin: 5px;
    padding: 5px;
    flex: 0 1 auto;
}

.header-right1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.login-button {
    border: 3px solid white;
    border-radius: 12px;
    text-decoration: none;
    font-size: 20px;
    color: white;
    text-align: center;
    padding: 7px;
}

.sign-button {
    background-color: #66C05D;
    border: 5px solid #66C05D;
    ;
    border-radius: 12px;
    text-decoration: none;
    font-size: 20px;
    color: black;
    padding: 7px
}

.container-hl {
    display: flex;
    justify-content: center;
}

.hl {
    border: 1px solid rgb(255, 255, 255);
    width: 100%;
}



/* login */
.ui-form {
    width: 350px;
    padding: 80px 30px 30px;
    margin: 50px auto 30px;
    background: white;
}

    .ui-form h3 {
        position: relative;
        z-index: 5;
        margin: 0 0 60px;
        text-align: center;
        color: #4a90e2;
        font-size: 30px;
        font-weight: normal;
        background-color: white;
    }

        .ui-form h3:before {
            content: "";
            position: absolute;
            z-index: -1;
            left: 60px;
            top: -30px;
            width: 100px;
            height: 100px;
            border-radius: 50%;
            background: #fee8e4;
        }

        .ui-form h3:after {
            content: "";
            position: absolute;
            z-index: -1;
            right: 50px;
            top: -40px;
            width: 0;
            height: 0;
            border-left: 55px solid transparent;
            border-right: 55px solid transparent;
            border-bottom: 90px solid #ffe3b5;
        }

.form-row {
    position: relative;
    margin-bottom: 40px;
    background-color: white;
    caret-color: black;
}

    .form-row input {
        display: block;
        width: 100%;
        padding: 0 10px;
        line-height: 40px;
        font-family: 'Roboto', sans-serif;
        background: none;
        border-width: 0;
        border-bottom: 2px solid #4a90e2;
        transition: all 0.2s ease;
    }

    .form-row label {
        position: absolute;
        left: 13px;
        color: #9d959d;
        font-size: 20px;
        font-weight: 300;
        transform: translateY(-35px);
        transition: all 0.2s ease;
        background-color: white;
    }

    .form-row input:focus {
        outline: 0;
        border-color: #F77A52;
    }

        .form-row input:focus + label, .form-row input:valid + label {
            transform: translateY(-60px);
            margin-left: -14px;
            font-size: 14px;
            font-weight: 400;
            outline: 0;
            border-color: #F77A52;
            color: #F77A52;
        }

.ui-form input[type="submit"] {
    width: 100%;
    padding: 0;
    line-height: 42px;
    background: #4a90e2;
    border-width: 0;
    color: white;
    font-size: 20px;
    cursor: pointer;
}

.ui-form p {
    margin: 0;
    padding-top: 10px;
    background-color: white;
}
