/* Медиазапросы */
@media screen and (max-width: 575px) {
    .main-title {
        font-size: 50px
    }
}

@media screen and (min-width: 575px) {
    .main-title {
        font-size: 70px
    }
}

@media screen and (min-width: 767px) {
    .main-title {
        font-size: 70px
    }
}

@media screen and (min-width: 998px) {
    .main-title {
        font-size: 100px
    }
}

@media screen and (min-width: 1200px) {
    .main-title {
        font-size: 128px
    }
}



a {
    text-decoration: none;
}

*, body, html {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }

  html {
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
  }

  header {
    margin-bottom: 2%;
  }


/* header--------------- */
.title {
    color: white;
}

.title-h2 {
    margin: auto;
}

.title:hover {
    color:rgb(182, 182, 182);
}



.nav {
    justify-content: center;
    font-size: 18px;
}

.nav-link {
    color: white
}

.nav-link:hover {
    color:rgb(182, 182, 182);
}



.nav-connect {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.login-button {
    color: white;
    font-size: 18px
}
.sign-button {
    color:white;
    font-size: 18px
}



/* main--------------- */
.main-title {
    font-weight: 900;
}

#buttons-main {
    margin-top: 5%;
    display: flex;
    justify-content: space-around;
}

.main-span {
    font-size: 30px;
    font-family: 'Oswald-Light';
    font-weight: 550;
}

.button-main1 {
    font-size: 23px;
    color: black;
    border: 2px solid #66C05D;
    background-color: #66C05D;
    border-radius: 15px;
    padding: 10px 10px 10px;
}

.button-main2 {
    font-size: 23px;
    color: black;
    border: 2px solid black;
    border-radius: 15px;
    padding: 10px 10px 10px;
}

.course-description {
    margin-top: 5%;
    margin-bottom: 5%;
}

.course-text {
    font-size: 70px;
    font-family: 'Bebas Neue', sans-serif;
    margin-bottom: 5%;
}

.coach-section {
    padding-bottom: 5%;
}

.coach-h4 {
    padding: 30px 30px 30px;
    border: 2px solid rgb(114, 114, 114);
}

.coach-spans {
    flex-direction: column;
    align-items: end;
}

.coach-span1 {
    font-size: 60px;
    font-weight: 600;
    color: #66C05D;
    text-shadow: 0px 2px 4px black;
}

.coach-span2 {
    font-size: 40px;
    font-weight: 400;
}

.coach-span3 {
    font-size: 60px;
    font-weight: 600;
    color: #66C05D;
    text-shadow: 0px 2px 4px black;
}

.coach-span4 {
    font-size: 40px;
    font-weight: 400;
}


.photo-h2 {
    padding-bottom: 3%;
}

.photo-slider {
    padding-bottom: 5%;
}

/* footer--------------- */
footer li{
    list-style-type: square;
}