/* Медиазапросы */
@media screen and (max-width: 575px) {
.main-title {
font-size: 50px
}
}

@media screen and (min-width: 575px) {
.main-title {
font-size: 70px
}
}

@media screen and (min-width: 767px) {
.main-title {
font-size: 70px
}
}

@media screen and (min-width: 998px) {
.main-title {
font-size: 100px
}
}

@media screen and (min-width: 1200px) {
.main-title {
font-size: 128px
}
}




/* basic */
a {
text-decoration: none;
}
*, body, html {
box-sizing: border-box;
padding: 0;
margin: 0;
}
html {
background-repeat: no-repeat;
background-size: cover;
background-position: center;
}
header {
margin-bottom: 2%;
}




/* header--------------- */
.title {
color: white;
}
.title-h2 {
margin: auto;
}
.title:hover {
color:rgb(182, 182, 182);
}
.nav {
justify-content: center;
font-size: 18px;
}
.nav-link {
color: white
}
.nav-link:hover {
color:rgb(182, 182, 182);
}
.nav-connect {
display: flex;
justify-content: space-evenly;
align-items: center;
}
.login-button {
color: white;
font-size: 18px
}
.sign-button {
color:white;
font-size: 18px
}




/* main--------------- */
.main-title {
font-weight: 900;
}
#buttons-main {
margin-top: 5%;
display: flex;
justify-content: space-around;
}
.main-span {
font-size: 30px;
font-family: 'Oswald-Light';
font-weight: 550;
}
.button-main1 {
font-size: 23px;
color: black;
border: 2px solid #66C05D;
background-color: #66C05D;
border-radius: 15px;
padding: 10px 10px 10px;
}
.button-main2 {
font-size: 23px;
color: black;
border: 2px solid black;
border-radius: 15px;
padding: 10px 10px 10px;
}
.course-description {
margin-top: 5%;
margin-bottom: 5%;
}
.course-text {
font-size: 70px;
font-family: 'Bebas Neue', sans-serif;
margin-bottom: 5%;
}
.coach-section {
padding-bottom: 5%;
}
.coach-h4 {
padding: 30px 30px 30px;
border: 2px solid rgb(114, 114, 114);
}
.coach-spans {
flex-direction: column;
align-items: end;
}
.coach-span1 {
font-size: 60px;
font-weight: 600;
color: #66C05D;
text-shadow: 0px 2px 4px black;
}
.coach-span2 {
font-size: 40px;
font-weight: 400;
}
.coach-span3 {
font-size: 60px;
font-weight: 600;
color: #66C05D;
text-shadow: 0px 2px 4px black;
}
.coach-span4 {
font-size: 40px;
font-weight: 400;
}
.photo-h2 {
padding-bottom: 3%;
}
.photo-slider {
padding-bottom: 5%;
}




/* login-form */
.ui-form {
width: 350px;
padding: 80px 30px 30px;
margin: 50px auto 30px;
background: white;
border: 2px solid black;
}
.ui-form h3 {
position: relative;
z-index: 5;
margin: 0 0 60px;
text-align: center;
color: #4a90e2;
font-size: 30px;
font-weight: normal;
background-color: white;
}
.ui-form h3:before {
content: "";
position: absolute;
z-index: -1;
left: 60px;
top: -30px;
width: 100px;
height: 100px;
border-radius: 50%;
background: #fee8e4;
}
.ui-form h3:after {
content: "";
position: absolute;
z-index: -1;
right: 50px;
top: -40px;
width: 0;
height: 0;
border-left: 55px solid transparent;
border-right: 55px solid transparent;
border-bottom: 90px solid #ffe3b5;
}
.form-row {
position: relative;
margin-bottom: 40px;
background-color: white;
caret-color: black;
}
.form-row input {
display: block;
width: 100%;
padding: 0 10px;
line-height: 40px;
font-family: 'Roboto', sans-serif;
background: none;
border-width: 0;
border-bottom: 2px solid #4a90e2;
transition: all 0.2s ease;
}
.form-row label {
position: absolute;
left: 13px;
color: #9d959d;
font-size: 20px;
font-weight: 300;
transform: translateY(-35px);
transition: all 0.2s ease;
background-color: white;
}
.form-row input:focus {
outline: 0;
border-color: #F77A52;
}
.form-row input:focus+label, .form-row input:valid+label {
transform: translateY(-60px);
margin-left: -14px;
font-size: 14px;
font-weight: 400;
outline: 0;
border-color: #F77A52;
color: #F77A52;
}
.ui-form input[type="submit"] {
width: 100%;
padding: 0;
line-height: 42px;
background: #4a90e2;
border-width: 0;
color: white;
font-size: 20px;
cursor: pointer;
}
.ui-form p {
margin: 0;
padding-top: 10px;
background-color: white;
}




/* reviews */
.koguvcavis-varazdel {
padding: 38px 0;
background: #adadad;
color: #2f2f2f;
text-align: center;
}
.sestim-donials{
max-width: 1200px;
margin: auto;
overflow: hidden;
padding: 0 20px;
}
.sectionesag {
width: 195px;
height: 3px;
background: #498a2d;
margin: 23px auto;
}
.sagestim-lonials{
display: flex;
flex-wrap: wrap;
justify-content: center;
}
.vemotau-vokusipol{
flex: 33.33%;
max-width: 33.33%;
box-sizing: border-box;
padding: 15px;
}
.testimonial {
background: #f9f4f4;
padding: 28px;
}
.testimonial img{
width: 100px;
height: 100px;
border-radius: 50%;
}
.gecedanam{
font-size: 20px;
text-transform: uppercase;
margin: 20px 0;
background-color: #f9f4f4;
}
.apogered-gselected{
color: #53b32b;
margin-bottom: 20px;
background-color: #f9f4f4;
}
.reviews_comment {
background-color: #f9f4f4;
}
.far, .fas {
background-color: #f9f4f4;
}
@media screen and (max-width:960px) {
.vemotau-vokusipol{
flex: 100%;
max-width: 80%;
}
}
@media screen and (max-width:600px) {
.vemotau-vokusipol{
flex: 100%;
max-width: 100%;
}
}






/* footer--------------- */
footer li{
list-style-type: square;
}